.container{
    width: 100%;
    height: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22) ;
}
@media (min-width: 650px) {
    .container{
        flex-direction: row;
        justify-content: space-evenly;
        height: 100vh;
    }
}